.YoutubeContainer {
    background: url('../../src/images/gradien/gradienYoutube.png');
    width: 100%;
    background-size: cover;
    position: relative;
}

.ombak{
    width: 100%;
    z-index: 1;
}
.ombak img {
    width: 100%;
    z-index: 1;
}

.supergrafis {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.Youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.YoutubeHeader {
    margin-bottom: 20px;
}

.YoutubeHeader h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    margin: 5px 0;
}

.YoutubeThumbnail {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0 10px;
}

.YoutubeThumbnail iframe {
    border-radius: 10px;
    max-width: 80%;
    z-index: 2;
}

@media (max-width: 768px) {
    .YoutubeHeader {
         height: 100vh;
    }
    .YoutubeHeader h1 {
        font-size: 1rem;
    }

    .YoutubeThumbnail iframe {
        width: 80%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}
