.headerSection {
        background: linear-gradient(to top right, 
          #03335B, 
          #1E7D87, 
          #1C9393, 
          #48D3CF, 
          #A7DB65, 
          #FFFC97
        );
      background-size: cover;
      padding-bottom: 15px;

      .ombak {
        width: 100%;
      }
      
}