.headerSection {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../../images/gradien/ASSET BACKGROUND-01.png'),
    url('../../images/header-footer/gif.gif');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
      .ombak {
        width: 100%;
      }
      
}