.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px 20px;
    background: url('./gradien.png') no-repeat center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin-top: 15px;
}

.navbar.show {
    opacity: 1;
}

.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    height: 80px;
    margin: 0;
    padding: 0;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.navbar-menu li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.register-btn {
    background: linear-gradient(to right, #009FFD, #2A2A72);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.register-btn:hover {
    background: linear-gradient(to right, #0066FF, #1A1A52);
}

@media (max-width: 768px) {
    .navbar {
        width: 90%;
    }
    .navbar-menu {
        gap: 15px;
    }
}
