.footerSection {
    background: url("../../images/gradien/gradien1.png") no-repeat center center;
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    color: white;

    .content {
        padding: 20px;
    }

    .social-icons {
        margin-top: 20px;

        .icon {
            width: 25px;
            margin: 0 10px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .copyright {
        margin-top: 10px;
        font-size: 14px;
    }
}
