.footerSection {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../images/header-footer/foto-footer.jpg");
    background-size: cover;

    .overlay {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../images/gradien/gradien1.png");
        background-size: cover;
        opacity: 0.9;
        z-index: 1;
    }

    .ombak {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.4));
        z-index: 0;
    }

    .content {
        position: relative;
        margin-top: 100px;
        z-index: 2;
        padding: 20px;
        color: white;
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .icon {
            width: 25px;
            margin: 0 10px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .copyright {
        margin-top: 10px;
        font-size: 14px;
    }

    @media (max-width: 768px) {
        .content {
            margin-top: 100px;
            padding: 15px;
        }

        .ombak {
            top: 0;
        }

        .flex {
            flex-direction: column;
            align-items: center;
        }

        .flex-1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .social-icons {
            margin-top: 10px;
        }
    }

    @media (max-width: 480px) {
        .content {
            margin-top: 80px;
            padding: 10px;
        }

        .ombak {
            top: 0;
        }

        .social-icons {
            margin-top: 15px;
        }

        .copyright {
            font-size: 12px;
        }
    }
}
