.OprecText {
    text-align: center;
    color: #1E7D87;
    margin: 0;

    h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #1E7D87;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        max-width: 800px;
        margin: auto;
    }
}

.OprecHeader {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.OprecDivisi {
    text-align: center;
    color: white;
    border-radius: 10px;

    .DivisiHeader {
        background: linear-gradient(to top right, 
        #03335B, 
        #1E7D87, 
        #1C9393, 
        #48D3CF, 
        #A7DB65, 
        #FFFC97
      );
        width: 100%;
        background-size: cover;
        h1 {
            font-size: 2rem;
            font-weight: 700;
        }

        h6 {
            font-size: 1rem;
            font-weight: 400;
            max-width: 700px;
            margin: auto;
        }
    }
}



