.OprecHeader {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2.4rem;
    color: #1E7D87;
}

.OprecText {
    text-align: justify;
    color: #000000;
    margin: 0;

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: auto;
        max-width: 800px;

    }

    p {
        font-size: 1.1rem;
        font-weight: 400;
        max-width: 800px;
        margin: auto;
    }

    .supergrafis1 {
        position: absolute;
        width: 100%;
    }

}


.OprecDivisi {
    text-align: center;
    color: white;
    border-radius: 10px;

    .DivisiHeader {
        background: linear-gradient(to top right, 
        #03335B, 
        #1E7D87, 
        #1C9393, 
        #48D3CF, 
        #A7DB65, 
        #FFFC97
      );
        width: 100%;
        background-size: cover;
        h1 {
            font-size: 3rem;
            font-weight: 700;
        }

        h6 {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .supergrafis2 {
        position: absolute;
        width: 100%;
    }
}



