.apaituomb_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.apaituomb_slider {
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    position: relative;
    border: 2px solid #1E40AF;
    border-radius: 10px;
}

.apaituomb_slider_inner {
    display: flex;
    width: 300%; // Menyesuaikan jumlah gambar
    transition: transform 0.7s ease-in-out;
}

.apaituomb_image {
    width: 100%;
    object-fit: cover;
    padding: 5px;
}

.apaituomb_content {
    text-align: center;
    margin-top: 20px;
}

.apaituomb_content h1 {
    font-size: 24px;
    color: #333;
}

.apaituomb_content p {
    font-size: 16px;
    color: #666;
    max-width: 600px;
}
